################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EPM-Mouser-Assessment/FileContentIndex
